CREATE TABLE CuaHang
(
	MaCH int CONSTRAINT pkMaCH PRIMARY KEY,
	TenCH nvarchar(100),
	DCCH nvarchar(200)
)


INSERT CuaHang VALUES(1, N'Cửa hàng Thủy Tiên', N'45 Hai Bà Trưng, Quận 1')
INSERT CuaHang VALUES(2, N'Cửa hàng Dạ Lý Hương', N'200 Lý Chính Thắng, Quận 3')
INSERT CuaHang VALUES(3, N'Cửa hàng Lan Anh', N'65 CMT8, Quận 10')



ALTER TABLE BangVideo
ALTER COLUMN NuocSX nchar(10)

CREATE TABLE BangVideo
(
	MaBG char(5) CONSTRAINT pkMaBG PRIMARY KEY,
	TenBG nchar(100),
	TheLoai char(5),
	NuocSX nchar(10),
	SLGoc int
)

INSERT BangVideo VALUES('CN001', N'Duyên dáng Việt Nam 3', 'CN', 'VN', 30)
INSERT BangVideo VALUES('CN002', N'Khúc Thụy Du', 'CN', 'VN', 25)
INSERT BangVideo VALUES('CT001', N'The Longest Day', 'CT', 'VN', 22)


CREATE TABLE PhanPhoi
(
	MaCH int CONSTRAINT fkMaCH FOREIGN KEY REFERENCES CuaHang(MaCH),
	MaBG char(5) CONSTRAINT fkMaBG FOREIGN KEY REFERENCES BangVideo(MaBG),
	SLBG int 
)

INSERT PhanPhoi	VALUES(1,'CN001',10)
INSERT PhanPhoi	VALUES(1,'CN002',10)
INSERT PhanPhoi	VALUES(1,'CT001',5)




CREATE TABLE Thue
(
	DotThue char(10) CONSTRAINT pkDotThue PRIMARY KEY,
	NgayThue date,
	KHG nchar(60),
	MaCH int CONSTRAINT fkThueMaCH FOREIGN KEY REFERENCES CuaHang(MaCH)
);
DELETE THUE

SELECT * FROM Thue

INSERT Thue VALUES ('1_1001_1', '1-10-2000', N'Lê Nam Hải', 1)
INSERT Thue VALUES ('1_1104_1', '4-11-2000', N'Trần Lệ Mai', 1)
INSERT Thue VALUES ('1_1105_1', '5-11-2000', N'Vũ Thanh Huyền', 1)







DELETE tHUE
SELECT * FROM Thue


CREATE TABLE CTDOTTHUE
(
	DotThue char(10) CONSTRAINT fkCTDT_DotThue FOREIGN KEY References Thue(DotThue),
	MaBG char(5) CONSTRAINT fkCTDT_MaBG FOREIGN KEY References BangVideo(MaBG),
	NgayTra date,
	STTT int
)



INSERT CTDotThue VALUES('2_1602_1','CN001','2/16/00',3000);
INSERT CTDotThue VALUES('1_1105_1','CN001','',3000);
INSERT CTDotThue VALUES('1_1001_1','CN001','1/12/00',6000);
